/* Fil rouge: selecteur, dimensions, couleurs */
/* Texte */
/* Background */
/* Boxes */
/* Positioning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* Débug */
/* Responsive */

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@font-face {
  font-family: "font-1";
  src: url(./assets/game-of-squid.ttf);
}

*/* {
  margin: 0;
  padding: 0;
}*/

body {
  font-family: "Audiowide", cursive;
  background: url(assets/background3.jpg) no-repeat fixed top/cover;
  min-height: 100 vh;
  /*overflow: hidden;*/
}

h1 {
  /*text-transform: uppercase;*/
  letter-spacing: 3px;
  font-size: 2.5rem;
  color: rgb(245, 245, 245);
  text-shadow: -3px 5px 0px #e1004bee;
  text-align: center;
  font-family: "font-1", serif;
}

main {
  background: rgba(245, 245, 245, 0.712);
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px 20 px 0 0;
  box-shadow: -1px 1px 14px 0px black;
}

.positioning,
.flexbox,
.grid {
  border: 2px solid #e1004bee;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
/****Positioning****/
.positioning {
  position: relative;
}

h2 {
  margin: 0;
}

/*#circle {
  height: 60px;
  width: 60px;
  background: skyblue;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 110px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.644);
  z-index: 1;
}*/

/*#rectangle {
  height: 15px;
  width: 100px;
  background: forestgreen;
  padding: 20px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.726);
}*/

/*********Flexbox**********/
ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 0.7rem;
  height: 160px;
  width: 160px;
  background: rgb(195, 221, 238);
  border-radius: 10px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.726);
  /*centrer verticalement*/
  display: flex;
  align-items: center;
  justify-content: center;
}
/******Grid******/
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "bt bt";
}
input,
textarea {
  margin: 5px;
  height: 45px;
}

#firstname {
  grid-area: i1;
}

#surname {
  grid-area: i2;
}

textarea {
  grid-area: ta;
}

input[type="submit"] {
  grid-area: bt;
}
